{% extends "../layout.html" %}
{% block titulo %}Secreto Bancario Legal{% endblock  %}
{% block contenido %}
<body>
    <header class="header">
        <div class="contenedor">
            <h1 class="no-margin">Secreto Bancario Legal:</h1>
        </div>        
    </header>
    <main class="contenedor formulario">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formulario }}
            <button class="boton" type="submit">Generar Word</button>
        </form>    
    </main>    
    <footer class="footer">
        <p>Creado por Leonard Samir Quispe Cardenas &copy;</p>
    </footer>       
</body>
{% endblock  %}