{% extends "../layout_logistica.html" %}
{% block titulo %}Colaboradores{% endblock  %}
{% block contenido %}
<main>
    <div class="menu_opciones">
        <h1 class="no-margin">Colaboradores:</h1>        
        <input type="text" placeholder="Buscar x Nombre">        
    </div>
    <div class="mostrar_informacion_movimientos">
        <table class="tabla_informacion">
            <thead>
                <tr>
                    <th>Nombre Colaborador</th>
                    <th>Articulos Asignados</th>                    
                </tr>
            </thead>
            <tbody>
                {% for colaborador in colaboradores %}
                <tr>
                    <td>{{ colaborador.nombre_colaborador }}</td>
                    <td>
                        {% for item in items_colaborador %}
                        {% if item.id_usuario.codigo_colaborador == colaborador.codigo_colaborador %}
                        <a href="">{{ item.nombre_item }}</a>      
                        {% endif %}
                        {% endfor %}                  
                    </td>                    
                </tr>                
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</main>
{% endblock  %}