{% extends "../layout_logistica.html" %}
{% block titulo %}Eliminar Almacen{% endblock %}
{% block contenido %}
<main>
    <div class="formularios" >
        <h1 class="no-margin">Inventariando Item para la fecha {% now "jS \d\e F Y" %}:</h1>        
        <p class="no-margin mensaje_grande_diferente">{{ articulo.nombre_item }}</p>
        <h1 class="no-margin">¿Estas seguro de eliminar el Almacen?</h1>        
        <h1></h1>        
        <form method="POST">
            {% csrf_token %}            
            <div class="botones_formularios">
                <a class="boton_enlace a1" href="{% url 'logistica_items' %}">No</a>
                <button class="boton_formulario" type="submit">Si</button>
            </div>
        </form>
    </div>    
</main>
{% endblock  %}