{% extends "../layout_logistica.html" %}
{% block titulo %}Editando Articulo{% endblock %}
{% block contenido %}
<main>
    <div class="formularios" >
        <h1 class="no-margin">Editando Articulo: {{ item.nombre_item }}</h1>
        <div>
            <p class="mensaje_error">{{ form.nombre_item.errors }}</p>
            <p class="mensaje_error">{{ form.descripcion_item.errors }}</p>                        
        </div>        
        <form method="POST">
            {% csrf_token %}
            <div class="campos_textosimple">
                <label for="">Nombre:</label>
                {{ form.nombre_item }}
            </div>
            <div class="campos_textosimple">
                <label for="">Informacion Extra:</label>
                {{ form.descripcion_item }}
            </div>
            <div class="campos_textoopciones">
                <label for="">Tipo Articulo:</label>
                {{ item.tipo_item }}
            </div>
            <div class="campos_textosimple">
                <label for="">Stock:</label>
                {{ item.cantidad_items }}
            </div>                                    
            <div class="campos_textoopciones">
                <label for="">Estado:</label>
                {{ item.id_estado }}
            </div>
            <div class="campos_textoopciones">
                <label for="">Almacen:</label>
                {{ item.id_almacen }}
            </div>
            <div class="campos_textoopciones">
                <label for="">Colaborador Asignado:</label>
                {{ item.id_usuario }}
            </div>
            <div class="campos_textoopciones">
                <label for="">Area-Ubicacion:</label>
                {{ item.id_area }}
            </div>
            <div class="campos_textoopciones">
                <label for="">Historial de Inventarios:</label>
                <div class="tabla_mini_container">                    
                    <table class="tabla_mini">
                        <tbody>
                            {% for inven in inventario %}
                            <td> {{ inven.fecha_modificacion|date:"d/m/Y" }} </td>
                            <td> Inventariado </td>
                            {% endfor %}
                        </tbody>                        
                    </table>                
                </div>                
            </div>                                                                        
            <div class="botones_formularios">
                {% if not inventario %}
                <a class="boton_enlace a1" href="{% url 'inventariar_articulo' pk=item.nombre_item %}">Inventariar Articulo</a>
                {% endif %}
                <a class="boton_enlace a1" href="{% url 'logistica_items' %}">← Volver a Articulos</a>
                <button class="boton_formulario" type="submit">Editar Articulo</button>                
            </div>
        </form>
    </div>    
</main>
{% endblock  %}