{% extends "../layout_logistica.html" %}
{% block titulo %}Historial Inventarios{% endblock  %}
{% block contenido %}
<main>
    <div class="menu_opciones">
        <h1 class="no-margin">Historial Inventarios:</h1>
        <a href="" class="boton_enlace a1">Ver NO InventariadoS</a>        
        <input type="text" placeholder="Buscar x Nombre">
        <div class="filtra_fechas a2">
            <label for="">Fecha Inicio:</label>
            <input class="input1" type="date">
            <label for="">Fecha Final:</label>
            <input class="input2" type="date">
            <a href="" class="boton_enlace ">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#ffffff"
                stroke-width="1"
                stroke-linecap="round"
                stroke-linejoin="round"
                >
                <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                <path d="M21 21l-6 -6" />
                </svg>
            </a>
        </div>
    </div>
    <div class="mostrar_informacion_movimientos">
        <table class="tabla_informacion">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Area</th>
                    <th>Almacen</th>
                    <th>Usuario</th>
                    <th>Año</th>
                </tr>
            </thead>
            <tbody>
                {% for inventario in inventarios %}
                <tr>
                    <td>inventario.id_item.nombre_item</td>
                    <td>inventario.nombre_area|default:"sin asignar"</td>
                    <td>inventario.nombre_almacen|default:"sin asignar"</td>
                    <td>inventario.nombre_usuario|default:"sin asignar"</td>
                    <td class="texto_centrado">inventario.fecha_modificacion|date:"d-m-Y"</td>
                </tr>
                {% endfor %}                                                 
            </tbody>
        </table>
    </div>
</main>
{% endblock  %}