{% extends "../layout_logistica.html" %}
{% block titulo %}Historial Inventarios{% endblock  %}
{% block contenido %}
<main>
    <div class="menu_opciones">
        <h1 class="no-margin">Historial Inventarios:</h1>
        <a href="{% url 'articulos_no_inventariados' %}" class="boton_enlace a1">Ver NO InventariadoS</a>        
        <div class="opcion_buscar">
            <input type="text" placeholder="Buscar X Nombre" id="item_pista" name="item">
            <button hx-get="{% url 'filtrar_inventario_por_item' %}" hx-target="#resultados_inventario_por_item" hx-include="#item_pista">Buscar</button>
        </div>
        <!--<div class="filtra_fechas a2">
            <label for="">Fecha Inicio:</label>
            <input class="input1" type="date">
            <label for="">Fecha Final:</label>
            <input class="input2" type="date">
            <a href="" class="boton_enlace ">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#ffffff"
                stroke-width="1"
                stroke-linecap="round"
                stroke-linejoin="round"
                >
                <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                <path d="M21 21l-6 -6" />
                </svg>
            </a>
        </div>-->
    </div>
    <div class="mostrar_informacion_movimientos" id="resultados_inventario_por_item">
        <table class="tabla_informacion">
            {% load l10n %}
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Articulo</th>                    
                    <th>Estado</th>
                    <th>Comprobante CNT</th>
                    <th>Fecha CNT</th>
                    <th>Factura Boleta</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>N°Serie</th>
                    <th>TipoMoneda</th>
                    <th>Costo</th>
                    <th>Proovedor</th>
                    <th>Almacen</th>
                    <th>Usuario</th>
                    <th>FechaIngreso</th>
                </tr>
            </thead>
            <tbody>
                    {% for inventario in inventarios %}
                    <tr>
                        <td>{{ inventario.id_item.id_item }}</td>
                        <td>{{ inventario.id_item.nombre_item }}</td>
                        <td>{{ inventario.id_item.id_estado }}</td> 
                        <td>{{ inventario.id_item.comprobante_contable }}</td>                        
                        <td>{{ inventario.id_item.fecha_contable|date:"Y-m-d" }}</td>               
                        <td>{{ inventario.id_item.factura_boleta }}</td>
                        <td>{{ inventario.id_item.marca_item }}</td>        
                        <td>{{ inventario.id_item.modelo_item }}</td>
                        <td>{{ inventario.id_item.serie_item }}</td>
                        <td>{{ inventario.id_item.tipo_moneda }}</td>
                        <td>{{ inventario.id_item.precio_unitario|unlocalize }}</td>
                        <td>{{ inventario.id_item.proveedor }}</td>                        
                        <td>{{ inventario.nombre_almacen|default:"" }}</td>
                        <td>{{ inventario.nombre_usuario|default:"" }}</td>
                        <td class="texto_centrado">{{ inventario.fecha_modificacion|date:"d-m-Y" }}</td>
                    </tr>
                    {% endfor %}                                                 
                </tbody>
        </table>                                            
    </div>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</main>
{% endblock  %}