<table class="tabla_informacion">
            <thead>
                <tr>
                    <th>Item</th>                    
                    <th>Almacen</th>
                    <th>Usuario</th>
                    <th>Año</th>
                </tr>
            </thead>
        </table>
        <div class="tabla_grande_container">
            <table class="tabla_informacion">                
                <tbody>
                    {% for inventario in inventarios %}
                    <tr>
                        <td>{{ inventario.id_item.nombre_item }}</td>                        
                        <td>{{ inventario.nombre_almacen|default:"Sin Asignar" }}</td>
                        <td>{{ inventario.nombre_usuario|default:"Sin Asignar" }}</td>
                        <td class="texto_centrado">{{ inventario.fecha_modificacion|date:"d-m-Y" }}</td>
                    </tr>
                    {% endfor %}                                                 
                </tbody>
            </table>