{% extends "../layout_logistica.html" %}
{% block titulo %}No Inventariados{% endblock  %}
{% block contenido %}
<main>
    <div class="menu_opciones">                
        <h1 class="no-margin">No inventariados del año : {{ año }}</h1>  
        <div class="opcion_buscar">
            <input type="text" placeholder="Buscar X Nombre" id="item_pista" name="item">
            <button hx-get="{% url 'filtrar_no_inventario_por_item' %}" hx-target="#resultados_no_inventario_por_item" hx-include="#item_pista">Buscar</button>
        </div>        
    </div>
    <div class="mostrar_informacion_movimientos" id="resultados_no_inventario_por_item">
        <table class="tabla_informacion">
            <thead>
                <tr>                    
                    <th class="columna1_fija_colaborador">Id Articulo</th>
                    <th class="columna2_fija_colaborador">Nombre Articulo</th>                    
                </tr>
            </thead>            
        </table>
        <div class="tabla_grande_container">             
            <table class="tabla_informacion">                
                <tbody>
                    {% for articulo in articulos %}
                    <tr>
                        <td class="columna1_fija_colaborador">
                            {{ articulo.id_item }}
                        </td>
                        <td class="columna2_fija_colaborador">
                            {{ articulo.nombre_item }}                                       
                        </td>                    
                    </tr>                
                    {% endfor %}                
                </tbody>            
            </table>
        </div>        
    </div>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</main>
{% endblock  %}