{% extends "../layout_logistica.html" %}
{% block titulo %}Informacion Articulo{% endblock %}
{% block contenido %}
<main>
    <div class="formularios" >
        <h1 class="no-margin">Info de Articulo ID: <span class="texto_normal">#{{ item.id_item }}</span></h1>             
        <div>
            <div class="campos_textosimple">
                <label for="">Nombre: <span class="texto_normal"> {{ item.nombre_item }}</span></label>                
            </div>            
            <div class="campos_textosimple">
                <label for="">Stock: <span class="texto_normal">{{ item.cantidad_items }}</span></label>                
            </div>                                                
            <div class="campos_textosimple">
                <label for="">Almacen: <span class="texto_normal">{{ item.id_almacen|default:"No asignado" }}</span></label>                
            </div>
            <div class="campos_textosimple">
                <label for="">Categoria Insumo: <span class="texto_normal">{{ item.tipo_insumo }}</span></label>                
            </div>                                                                                              
            <div class="botones_formularios">                                
                <a class="boton_enlace a1" href="{% url 'logistica_items' %}">← Ir a Articulos</a>
                <a class="boton_enlace a1" href="{% url 'editar_item_stock' pk=item.id_item %}" >Editar Articulo</a>                
            </div>        
        </div>                    
    </div>    
</main>
{% endblock  %}