:root{
    --colorPrincipal:#C2CE45;
    --colorSecundario:#004F6F;
    --blanco:#fff;
    --oscuro:#000;
    --colorFondo:#4D5156;
    --colorFondoClaro:hsl(160, 16%, 96%);
    --colorError:#FF2108;
    --colorAdvertencia:#EC742A;

    --fuente: "Open Sans", sans-serif;
}

/*Globales*/
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
html body{
    height: 100%;    
    margin: 0;
    padding: 0;
    font-family: var(--fuente);
}
*,*:after,*:before{
    box-sizing: inherit;
}
/*Utilidades*/
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.plantilla{
    display: flex;
}
.texto_centrado{
    text-align: center;
}

p{
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}
span{
    font-weight: bold;
}
ul{
    list-style-type: none;
}
/*Informacion Usuario*/
.plantilla__menu{
    background-color: var(--colorPrincipal);
    width: 5rem;
    height: 100vh;
    transition: all 0.5s ease;
}
@media (min-width:1024px){
    .plantilla__menu{
        width: 7rem;
    }
    .plantilla:hover{
        grid-template-columns: 30% auto;
    }
}

.usuario {
    display: flex;
    width: 7rem;
    height: 7rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.usuario__imagen{
    background-image: url(../img/instagram.png);
    background-size: cover;
    background-position: center;
    display: flex;
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
}
.usuario__informacion{
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    line-height: 0.2rem;
    margin-left: 0;    
    padding-left: 0;
}
.usuario__informacion p,
.usuario__informacion span{
    text-transform: uppercase;    
    font-size: 1.2rem;
    font-weight: normal;
}
.usuario__informacion span{
    color: var(--colorSecundario);
    font-weight: bold;
}
@media (min-width:1024px){
    .plantilla__menu:hover{
        width: 25rem;
    }
    .plantilla__menu:hover .usuario{
        width: 26rem;
        height: 12rem;
        margin-top: 5rem;
        flex-direction: row;
        column-gap: 1rem;
    }
    .plantilla__menu:hover .usuario__imagen{
        width: 8rem;
        height: 8rem;
    }
    .plantilla__menu:hover .usuario__informacion{
        display: flex;
    }
}
/**/
.usuario__informacion h1{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    text-align: right;
}
/*Menu*/
.navegacion__titulo,
.navegacion__enlace--texto{
    display: none;
    text-transform: uppercase;    
    font-size: 1.5rem;
    color: var(--colorSecundario);
    font-weight: bold;
}
.navegacion__enlace{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    column-gap: 1rem;
}
@media (min-width: 1024px){
    .plantilla__menu:hover .navegacion__enlace--texto{
        display: flex;
    }
    .plantilla__menu:hover .navegacion__enlace{
        padding-left: 2.5rem;
        justify-content: start;
    }    
}
.navegacion__titulo{
    padding-left: 2.8rem;
    justify-content:left;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    border-bottom: 0.1rem solid var(--colorSecundario);
    border-left: 2.8rem solid transparent ;
}
.plantilla__menu:hover .navegacion__titulo{
    display: flex;
}
.navegacion__enlace:hover {
    border-left: 1rem solid var(--colorSecundario);
}
.check{
    display: none;
}
@media (min-width: 1024px){
    .check:checked ~ .submenu2{
        display: flex;
    }  
}

/*******LOGIN **************/
.base_formulario{
    display: flex;    
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--colorFondo);
}
.formulario_login{
    background-color: var(--blanco);
    text-align: center;
    padding: 3rem;    
    border-radius: 1rem;
    display: grid;    
    font-weight: bold;
    font-size: 1.5rem;
    width: 30rem;
}
.saludo_login{
    font-size: 2rem;
    margin: 0; 
}
.mensaje_error{
    font-size: 1.2rem;
    color: var(--colorError);
}
.mensaje_advertencia{
    font-size: 1.3rem;
    color: var(--colorAdvertencia);
}
.mensaje_grande_diferente{
    font-size: 2.5rem;
    color: var(--colorError);
}
.form_campos{
    display: grid;
    text-align: start;
    margin-bottom: 1rem;      
}
.form_campos input{
    height: 3rem;
    font-size: 1.8rem;
    width: 100%;    
}
.boton {
    width: 100%;
    height: 3rem;
    background-color: var(--colorSecundario);
    border: none;
    color: var(--blanco);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;    
}
.boton_movimientos{    
    width: 100%;
    height: 3rem;
    background-color: var(--colorSecundario);
    border: none;
    color: var(--blanco);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
}
.boton,
.boton_movimientos:hover{
    cursor: pointer;
}
/*Contenido*/
.plantilla__contenido{ 
    background-color: var(--colorFondoClaro);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    padding: 1rem;
}
@media (min-width:1024px){
    .plantilla__contenido{
        padding: 3rem;
    }    
}
.menu_opciones{
    display: grid;
    row-gap: 0.8rem;
    column-gap: 2rem;    
}
@media (min-width:1024px){
    .menu_opciones{
        grid-template-columns: 1fr 1fr 1fr;        
    }
    .menu_opciones .a1{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .menu_opciones .a2{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .menu_opciones input{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .menu_opciones .filtro_fechas{
        grid-column: 3/4;
        grid-row: 2/3;
    }
}

.menu_opciones input{
    font-size: 1.8rem;
}
.boton_enlace{
    height: 100%;
    text-decoration: none;    
    text-transform: uppercase;
    background-color: var(--colorSecundario);
    color: var(--blanco); 
    padding: 0.5rem;   
    font-weight: bold;    
    font-size: 1.8rem;
    border-radius: 0.4rem;
    border: none;    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.filtro_fechas{
    display: flex;
}
.filtro_fechas input{
    width: 100%;
}
.mostrar_informacion{    
    padding: 0.1rem;
}
.item{
    border: 0.2rem solid var(--colorSecundario);
    border-radius: 0.4rem;
    display: grid;
    grid-template-columns: 62% 37%;
    margin-top: 1rem;        
}
.informacion_item{
    display: grid;
    grid-template-columns: 39% 60%;            
    font-size: 1.2rem;
    /*align-items: start;*/
    border-right: 0.2rem solid var(--colorSecundario);
    column-gap: 0.5rem;        
}
.informacion_item p{    
    margin: 0.2rem 0.1rem 0.3rem 0.2rem;        
    /*background-color: var(--colorPrincipal);*/
    border-radius: 0.5rem;    
    padding-left: 0.1rem;
    display: flex;
    align-items: end;
    column-gap: 0.4rem;
    font-weight: normal;
    font-size: 1.5rem;
    text-align: start;

}
@media (min-width:1024px){
    .mostrar_informacion{    
        padding: 1rem;        
    }
}
.informacion_item p:nth-child(1){
    grid-row: 1/2;
    grid-column: 1/3;
}
.informacion_item p:nth-child(2){
    grid-row: 2/3;
    grid-column: 1/2;
}
.informacion_item p:nth-child(3){
    grid-row: 2/3;
    grid-column: 2/3;
}
.informacion_item p:nth-child(4){
    grid-row: 3/4;
    grid-column: 1/3;        
}
.informacion_item p:nth-child(5){
    grid-row: 4/5;
    grid-column: 1/3;
}
.informacion_item a{
    text-decoration: none;
    color: var(--oscuro);
}
.seccion2_item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;        
}

@media (min-width:1024px){
    .seccion2_item{
        margin-left: 5rem;
    }
}
.seccion2_item img{
    margin-left: 1.5rem;
}
.columnas_items{
    display: grid;    
}

@media (min-width:1024px){
    .columnas_items{        
        grid-template-columns: 1fr 1fr;
        column-gap: 1.5rem;
    }
    .columnas_items li:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .informacion_item{
        font-size: 1.8rem;
    }
    .opciones_item{
        width: 15rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .opciones_item a{
        column-gap: 2rem;
        justify-content: space-between;
    }
    .seccion2_item img{
        margin-left: 3rem;
    }
    
}
/*Almacenes*/
.mostrar_informacion_almacenes{
    padding: 1rem 0.2rem 0.2rem 0.2rem;    
}

.informacion_almacen{
    margin-left: 0.5rem;    
    
}
.informacion_almacen p{
    font-weight: normal;
    text-align: start;
    font-size: 1.5rem;        
}
@media (min-width:768px){
    .informacion_almacen p{        
        font-size: 2rem;        
    }   
}
.almacen{
    display: grid;
    grid-template-columns: 70% 25%;
    border: 0.2rem solid var(--colorSecundario);
    border-radius: 0.4rem;
}    
.seccion2_almacen{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.informacion_almacen{
    margin-left: 0.5rem;     
}
.opciones_almacen{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.5rem;
}

.opciones_almacen p{
    display: none;        
}

@media (min-width:1024px){
    .almacen{
        grid-template-columns: 52% 47%;        
    }
    .mostrar_informacion_almacenes{
        padding: 1rem 10rem 0.2rem 10rem;
    }    
    .informacion_almacen{
        margin-left: 1.5rem;
        font-size: 1.5rem;        
    }
    .seccion2_almacen{
        text-align: center;
        display: grid;
        grid-template-columns: 39% 60%;
    }

    .logo_almacen{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .opciones_almacen{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        margin-left: 1rem;        
    }
    .opciones_almacen p{
        display: block;
    }
    .enlaces{
        display: flex;
        column-gap: 0.6rem;
        text-decoration: none;
        font-size: 2rem;
        margin: 0;
        color: var(--oscuro);
    }        
    
}

/*Movimientos*/

.filtra_fechas{    
    display: grid;
    row-gap: 0.2rem;
    column-gap: 0.3rem;
}
.filtra_fechas label{    
    font-size: 1.5rem;
    
}
.filtra_fechas label:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/2;
}
.filtra_fechas .input1{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 95%;
}
.filtra_fechas label:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
}
.filtra_fechas .input2{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 95%;
}
.filtra_fechas a{
    grid-column: 3/4;
    grid-row: 1/3;
}
.mostrar_informacion_movimientos{
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}
@media (min-width:1024px){
    .mostrar_informacion_movimientos{
        padding: 0.2rem 0 0.2rem 0;
    }
}

.tabla_informacion{
    background-color: var(--blanco);  
    width: 100%;
    margin-top: 1rem;  
}
.tabla_informacion thead{
    background-color: var(--colorSecundario);
    color: var(--blanco);    
    font-size: 1.1rem;    
    font-weight: bold;
}
.tabla_informacion tbody{    
    font-size: 1rem;        
}
@media (min-width:1024px){
    .tabla_informacion thead{        
        font-size: 1.8rem;            
    }   
    .tabla_informacion tbody{    
        font-size: 1.5rem;        
    }
}
.tabla_informacion td{
    border-bottom: 0.1rem solid var(--colorSecundario);
}
@media (min-witdh:1024px){
    .tabla_informacion thead{
        font-size: 2.1rem;        
    }
    .tabla_informacion tbody{
        font-size: 1.9rem;        
    }
}
.opciones_movimientos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
@media (min-width:1024px){
    .opciones_movimientos{
        width: 60rem;        
        margin-left: 28%;
    }       
}
.opciones_movimientos h2{
    grid-column: 1/3;
    grid-row: 1/2;
}
.movimientos_fila1{
    grid-column: 1/3;
    display: flex;
    width: 100%;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    height: 3rem;    
}
.movimientos_fila1 select{
    width: 90%;
    font-size: 1.5rem;
}
.movimientos_fila1 input{
    width: 10%;
    font-size: 1.5rem;
}
.movimientos_fila2{
    grid-column: 1/3;
    display: flex;
    width: 100%;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    height: 3rem;    
}
.movimientos_fila2 select{
    width: 50%;
    font-size: 1.5rem;
}
.movimientos_fila3{
    grid-column: 1/3;
    display: flex;
    width: 100%;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    height: 3rem;    
}
.movimientos_fila3 select{
    width: 65%;
    font-size: 1.5rem;
}
.movimientos_fila3 button{
    width: 35%;
    font-size: 1.5rem;
}
.movimientos_fila4{
    grid-column: 1/3;
    display: flex;
    width: 100%;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    height: 3rem;    
}
.movimientos_fila4 input{
    width: 100%;
    font-size: 1.5rem;
}
/*Formularios*/
.formularios_movimiento{
    background-color: var(--blanco);
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
    padding: 0.1rem;    

}
.seccion_cabecera select{
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    height: 3rem;
}

.firma_container{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    align-items: center;
}
.formularios{
    background-color: var(--blanco);
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 1rem;
}
@media (min-width:1024px){
    .formularios{
        margin: 0.5rem 35rem 10rem 35rem;
    }
}
/*Tabla Mini*/
.tabla_mini_container{
    overflow-y: auto;
    overflow-x: hidden;
    border: 0.2rem solid var(--colorFondo);
    background-color: var(--colorFondoClaro);
    border-radius: 0.5rem;
    height: 4rem;
    padding: 0.5rem;
}
.tabla_mini{

}
/*Formularios*/
.campos_textosimple{
    display: grid;    
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.campos_textosimple label{
    font-weight: bold;
    font-size: 1.7rem;
}
.campos_textosimple input{
    font-size: 1.5rem;
    height: 3rem;
    width: 100%;
}
.campos_textoopciones{
    display: flex;
    flex-direction: column;    
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.campos_textoopciones label{
    font-weight: bold;
    font-size: 1.7rem;
}
@media (min-width:1024px){
    .campos_textosimple,
    .campos_textoopciones{
        margin-bottom: 0.4rem;
    }        
}
.campos_textoopciones select {
    font-size: 1.5rem;
    height: 3rem;
    width: 100%;
}
.botones_formularios{
    margin-top: 2rem;
    display: grid;    
    row-gap: 1rem;
}
.boton_formulario{
    background-color: var(--colorPrincipal);    
    border: none;
    height: 3rem;
    border-radius: 0.5rem;
    color: var(--colorFondo);
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold;
}
.boton_formulario:hover{
    cursor: pointer;
}

/*Colaboradores*/
.tabla_grande_container{
    overflow-y: auto;
    overflow-x: auto;
    /* border: 0.2rem solid var(--colorFondo);
    background-color: var(--colorFondoClaro);
    border-radius: 0.5rem; */
    height: 50rem;
    padding: 0.1rem;    
}

.tabla_grande_container_movimientos{
    overflow-y: auto;
    overflow-x: auto;
    /* border: 0.2rem solid var(--colorFondo);
    background-color: var(--colorFondoClaro);
    border-radius: 0.5rem; */
    height: 10rem;
    width: 32rem;
    padding: 0.1rem;       
}
.tabla_grande_container_movimientos_vista{
    overflow-y: auto;
    overflow-x: auto;
    /* border: 0.2rem solid var(--colorFondo);
    background-color: var(--colorFondoClaro);
    border-radius: 0.5rem; */
    height: 50rem;
    width: 32rem;
    padding: 0.1rem;       
}
@media (min-width:1024px){
    .tabla_grande_container_movimientos{
        width: 100%;
    }
    .tabla_grande_container_movimientos_vista{
        width: 100%;        
    }
}
.columna1_fija_colaborador{
    width: 15rem;
    /* min-width: 20rem; */
    /* max-width: 40rem; */
}
.columna1_fija_colaborador a{
    text-decoration: none;
    color: var(--colorPrincipal);
    text-transform:capitalize;
    font-weight: bold;
}
@media (min-width:1024px){
    .columna1_fija_colaborador{
        width: 40rem;
        /* min-width: 20rem; */
        /* max-width: 40rem; */
    }    
}
.columna2_fija_colaborador{
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.columna2_fija_colaborador a{
    text-decoration: none;
    color: var(--colorSecundario);
    text-transform:capitalize;
    font-weight: bold;
}
@media (min-width:1024px){
    .columna2_fija_colaborador{
        width: auto;
        overflow: hidden;
        text-overflow: ellipsis;       
    }    
}

